/*Tipografía-Estilos generales*/
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;400&family=Gruppo&family=Montserrat:wght@100;200;400;800&family=Work+Sans:wght@100;200;300&display=swap');


*{
    border: 0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gruppo', sans-serif;
    background-color: #9B968E;
}

#main-contain{
    width: 100%;
    height: 90px;
    position: relative;
    display:inline-flex;
    justify-content: center;
    /* background-color: aqua; */
    
}

.menu{
    display: flex;
    width: 20%;
    height: auto;
    justify-content: center;
    /* background-color: #919191; */
}

menu-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

menu-main h1{
    font-size: 22px;
    font-weight: 800;
    padding: 5px;
    margin-top: 25px;
    /* background-color: rgba(137, 43, 226, 0.378); */

}

menu-main nav{
    margin-top: 25px;
    width: 100%;
    /* background-color: rgba(0, 126, 19, 0.442); */
}

menu-main nav ul{
    display:flex;
    list-style: none;
    /* background-color: rgba(165, 42, 42, 0.382); */
}

menu-mainer nav ul li{
    list-style:none;

}

menu-main nav ul li a{
    text-decoration: none;
    margin:35px; /*textos menu separados*/
    color:#303030;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

menu-main nav ul li a:hover{
    color:#f9f9f97e;
}

.title ul{
    list-style: none;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gruppo', sans-serif ;
    font-weight: 600;
    /* background-color: aqua; */
    padding: 0; /* Añadido para quitar el padding predeterminado */
}

.title ul li { 
    display: flex; /* Cambiado a flex */
    align-items: center; /* Añadido para centrar verticalmente */
    justify-content: center;
    /* background-color: bisque; */
    margin: 10px;
    padding: 10px; /* Añadido un padding para dar espacio */
    height: 10px;

}

.title ul li a{ 
    width: 60px;
    /* background-color: rgba(13, 211, 27, 0.424); */
    text-decoration: none;
    text-transform: uppercase;    
    font-size: 9px;
    padding: 2px 5px; /* Añadido un padding para dar espacio */ 
    border:1px solid #000; 
}

.title ul li p {
    margin: 0; /* Añadido para quitar el margen predeterminado */
    text-transform: uppercase;
    font-size: 15px;
    width: 350px;    
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

/*============Estilos Main-Contain Paginas==============*/
.galeria_pages{
    width: 32%;
    margin-left: 34%;
    height:auto;   
    position: relative; 
    margin-top: 1%; 
    align-items: center;
    /* background-color: rgba(255, 0, 238, 0.212); */
}

.columna{
    width: 90%;
    height: auto;    
    margin-left: 5%;
    padding: .5%;
    background-color: rgb(255, 255, 255);

}

.columna img { 
    width: 100%;
    height: auto;
    padding: 1%;
    align-items: center;
    background-color: #ffffff;


}

.foto_doble{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: auto;
    /* background-color: chartreuse; */
    justify-content: center;

}

#foto1{
    width: 50%;
    height: auto;
    /* background-color: rgba(128, 255, 0, 0.299); */
    padding-right: 1%;
    margin-left:-1%;

}

#foto2{
    width: 50%;
    height: auto;
    /* background-color: rgba(128, 255, 0, 0.299); */
    padding-left: 1%;
    margin-right:-1%;
}

/* #Foto1{
    /background-color: aqua; 
    background: linear-gradient(107.32deg, rgba(0, 0, 0, 0.7) 0.46%, rgba(32, 45, 57, 0.7) 50.53%, rgba(45, 123, 114, 0.7) 99.6%); 
} */

.description{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 1%;
    /* background-color: chartreuse;   */
    padding: 2%; 
}

.description p{
    font-size: 13px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-wrap:pretty ;
    text-align: justify;
    padding: 2%;
    line-height: 15px;
}

.technical{
    width: 80%;
    margin-left: 10%;
    height: auto;    
    margin-top: 5%;
    text-align: justify;
    padding: 3%;
    line-height: 20px;
    word-spacing: 5px;
    /* background-color: chocolate; */
}

.technical p{
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    color: #303030;
    font-weight: 500;
}

.description p::first-letter  {
    font-size: 200%; /* Puedes ajustar el tamaño según tus preferencias */
  }
footer { 
    width: 100%;
    height: 15%;
    text-align: center;    
    /* background-color: #191919ca; */
}

.copywright{
    width: 80%;
    margin-left: 10%;
    font-size: 17px;
    align-self: center;
    margin-bottom: 0;
    padding: 3%;
    font-weight: 400;
    /* background-color: #191919ca; */
}

 /* Dropdown Button Work */
 .dropbtn {
    /* background-color: #04AA6D; */
    color: #303030;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: 0.3s;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    transition: 0.5s;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display:none;
    position: absolute;   
    width: 200%; 
    background-color: #3b3b3bac; /*color fondo del drop menu*/  
    margin-left: -50%;   
    box-shadow: 0px 8px 16px 0px rgba(238, 238, 238, 0.2);
    z-index: 1;
    border-radius: 10px;
    transition: 0.3s;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    /* background-color: aqua; */
    width: 100%;
    margin:0;
    padding: 6px 0;  /*separación textos drop menu*/    
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    transition: 0.3s;

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #bbbbbb;}  */

